@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Thin.woff) format('woff');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Light.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-SemiBold.woff) format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Black.woff) format('woff');
  font-style: normal;
  font-weight: 900;
}