$black: var(--mud-palette-black);
$white: var(--mud-palette-white);
$primary: var(--mud-palette-primary);
$primary-text: var(--mud-palette-primary-text);
$primary-darken: var(--mud-palette-primary-darken);
$primary-lighten: var(--mud-palette-primary-lighten);
$primary-hover: var(--mud-palette-primary-hover);
$secondary: var(--mud-palette-secondary);
$secondary-text: var(--mud-palette-secondary-text);
$secondary-darken: var(--mud-palette-secondary-darken);
$secondary-lighten: var(--mud-palette-secondary-lighten);
$secondary-hover: var(--mud-palette-secondary-hover);
$tertiary: var(--mud-palette-tertiary);
$tertiary-text: var(--mud-palette-tertiary-text);
$tertiary-darken: var(--mud-palette-tertiary-darken);
$tertiary-lighten: var(--mud-palette-tertiary-lighten);
$tertiary-hover: var(--mud-palette-tertiary-hover);
$info: var(--mud-palette-info);
$info-text: var(--mud-palette-info-text);
$info-darken: var(--mud-palette-info-darken);
$info-lighten: var(--mud-palette-info-lighten);
$info-hover: var(--mud-palette-info-hover);
$success: var(--mud-palette-success);
$success-text: var(--mud-palette-success-text);
$success-darken: var(--mud-palette-success-darken);
$success-lighten: var(--mud-palette-success-lighten);
$success-hover: var(--mud-palette-success-hover);
$warning: var(--mud-palette-warning);
$warning-text: var(--mud-palette-warning-text);
$warning-darken: var(--mud-palette-warning-darken);
$warning-lighten: var(--mud-palette-warning-lighten);
$warning-hover: var(--mud-palette-warning-hover);
$error: var(--mud-palette-error);
$error-text: var(--mud-palette-error-text);
$error-darken: var(--mud-palette-error-darken);
$error-lighten: var(--mud-palette-error-lighten);
$error-hover: var(--mud-palette-error-hover);
$dark: var(--mud-palette-dark);
$dark-text: var(--mud-palette-dark-text);
$dark-darken: var(--mud-palette-dark-darken);
$dark-lighten: var(--mud-palette-dark-lighten);
$dark-hover: var(--mud-palette-dark-hover);
$text-primary: var(--mud-palette-text-primary);
$text-secondary: var(--mud-palette-text-secondary);
$text-disabled: var(--mud-palette-text-disabled);
$action-default: var(--mud-palette-action-default);
$action-default-hover: var(--mud-palette-action-default-hover);
$action-disabled: var(--mud-palette-action-disabled);
$action-disabled-backgroun: var(--mud-palette-action-disabled-background);
$surface: var(--mud-palette-surface);
$background: var(--mud-palette-background);
$background-grey: var(--mud-palette-background-grey);
$drawer-background: var(--mud-palette-drawer-background);
$drawer-text: var(--mud-palette-drawer-text);
$drawer-icon: var(--mud-palette-drawer-icon);
$appbar-background: var(--mud-palette-appbar-background);
$appbar-text: var(--mud-palette-appbar-text);
$lines-default: var(--mud-palette-lines-default);
$lines-inputs: var(--mud-palette-lines-inputs);
$divider: var(--mud-palette-divider);
$divider-light: var(--mud-palette-divider-light);
$table-lines: var(--mud-palette-table-lines);
$table-striped: var(--mud-palette-table-striped);
$table-hover: var(--mud-palette-table-hover);
$grey-default: var(--mud-palette-grey-default);
$grey-light: var(--mud-palette-grey-light);
$grey-lighter: var(--mud-palette-grey-lighter);
$grey-dark: var(--mud-palette-grey-dark);
$grey-darker: var(--mud-palette-grey-darker);
$overlay-dark: var(--mud-palette-overlay-dark);
$overlay-light: var(--mud-palette-overlay-light);
$elevation-0: var(--mud-elevation-0);
$elevation-1: var(--mud-elevation-1);
$elevation-2: var(--mud-elevation-2);
$elevation-3: var(--mud-elevation-3);
$elevation-4: var(--mud-elevation-4);
$elevation-5: var(--mud-elevation-5);
$elevation-6: var(--mud-elevation-6);
$elevation-7: var(--mud-elevation-7);
$elevation-8: var(--mud-elevation-8);
$elevation-9: var(--mud-elevation-9);
$elevation-10: var(--mud-elevation-10);
$elevation-11: var(--mud-elevation-11);
$elevation-12: var(--mud-elevation-12);
$elevation-13: var(--mud-elevation-13);
$elevation-14: var(--mud-elevation-14);
$elevation-15: var(--mud-elevation-15);
$elevation-16: var(--mud-elevation-16);
$elevation-17: var(--mud-elevation-17);
$elevation-18: var(--mud-elevation-18);
$elevation-19: var(--mud-elevation-19);
$elevation-20: var(--mud-elevation-20);
$elevation-21: var(--mud-elevation-21);
$elevation-22: var(--mud-elevation-22);
$elevation-23: var(--mud-elevation-23);
$elevation-24: var(--mud-elevation-24);
$elevation-25: var(--mud-elevation-25);
$default-borderradius: var(--mud-default-borderradius);
$default-drawer-width: var(--mud-drawer-width);
$appbar-min-height: var(--mud-appbar-min-height);
$zindex-drawer: var(--mud-zindex-drawer);
$zindex-appbar: var(--mud-zindex-appbar);
$zindex-dialog: var(--mud-zindex-dialog);
$zindex-popover: var(--mud-zindex-popover);
$zindex-snackbar: var(--mud-zindex-snackbar);
$zindex-tooltip: var(--mud-zindex-tooltip);

$breakpoint-xs-min: 0;
$breakpoint-xs-max: 599px;
$breakpoint-sm-min: 600px;
$breakpoint-sm-max: 959px;
$breakpoint-md-min: 960px;
$breakpoint-md-max: 1279px;
$breakpoint-lg-min: 1280px;
$breakpoint-lg-max: 1919px;
$breakpoint-xl-min: 1920px;
$breakpoint-xl-max: 2559px;
$breakpoint-xx: 2560px;

$breakpoints: ('xs': $breakpoint-xs-max, 'sm': $breakpoint-sm-max, 'md': $breakpoint-md-max, 'lg': $breakpoint-lg-max, 'xl': $breakpoint-xl-max);
$breakpoints-min: ('sm': $breakpoint-sm-min, 'md': $breakpoint-md-min, 'lg': $breakpoint-lg-min, 'xl': $breakpoint-xl-min, 'xx': $breakpoint-xx);